In [1]:
import pandas as pd

## Question:
How does human coastal development and fishing activity influence the behavior of sharks, and is there a correlation between increased human presence in shark habitats and the frequency of shark attacks?

## Hypothesis:
We hypothesize that as human invasion and fishing activities intensify in shark habitats, there will be observable changes in shark behavior, potentially leading to an increased frequency of shark attacks. This hypothesis is based on the assumption that alterations in the sharks' natural environment and food sources due to human activities may trigger defensive or predatory behaviors, contributing to a higher incidence of interactions between sharks and humans.

In [2]:
url="Data_sharks.xlsx"
shark=pd.read_excel(url,usecols=['Date','Year','Type','Country','State','Location','Activity']).squeeze('columns')

In [3]:
#General cleaning data base
shark.columns=shark.columns.str.lower()
shark.dropna(thresh=7,inplace=True)

In [4]:
#for the year depending on what we would like to select it could be only >=1800
shark[(shark['year']!=0) | (shark['year']>=1800)]

,date,year,type,country,state,location,activity
0,02 Dec-2023,2023.0,Unprovoked,MEXICO,Jalisco,San Patricio Melaque,Swimming
1,30 Nov-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,Clack Island,Swimming
2,21 Nov-2023,2023.0,Unprovoked,BAHAMAS,Grand Bahama Island,Tiger Beach,Scuba diving
3,10 Nov-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Port Noarlunga,Free diving
4,05 Nov-2023,2023.0,Unprovoked,USA,Florida,"Juno Beach, Palm Beach County",Swimming
...,...,...,...,...,...,...,...
6776,15 Aug 1640,1640.0,Unprovoked,USA,Maryland,a tidal river,Wading
6778,Reported 1637,1637.0,Unprovoked,INDIA,West Bengal,Hooghly River mouth,Wading
6780,1642,1642.0,Unprovoked,USA,New York,Between Manhattan and The Bronx,Swimming
6781,1595,1595.0,Unprovoked,INDIA,Kerala,River Cochin,Ship lay at anchor & man was working on its ru...
6786,Ca 1588.04.00,1518.0,Unprovoked,MEXICO,Yucatan,Cozumel,Swmming

In [8]:
#normalizing by activity
activity_cleaning_dict={'bathing':'water activity','swim':'water activity','surf':'water activity',
                        'boarding':'water activity','fishing':'fishing','catching':'fishing','collecting':'work activity',
                        'crabbing':'fishing','dived':'underwater activity','diving':'underwater activity','dragging':'work activity',
                        'feeding':'work activity','fell':'accident','filming':'work activity','floating':'water activity','freediving':'underwater activity',
                        'beach':'water activity','hunting':'fishing','jumped':'water activity','kayaking':'water activity',
                        'kite':'water activity','paddling':'water activity','playing':'water activity','pulling':'work activity',
                        'removing':'work activity','rescuing':'work activity','watching':'underwater activity','siking':'work activity',
                        'sitting':'water activity','skindiving':'underwater activity','smorkeling':'underwater activity','spearfishing':'fishing',
                        'splashing':'water activity','surfing':'water activity','swimming':'water activity','treading':'work activity',
                        'attempting':'work activity','boat':'work activity','cleaning':'work activity','holding':'work activity',
                        'jumping':'water activity','killing':'work activity','lifeguard':'work activity','lifesaving':'work activity',
                        'lying':'water activity','sailing':'water activity','spearing':'underwater activity','standing':'water activity','thouching':'underwater activity',
                        'washing':'water activity','working':'work activity','wreck':'work activity','canoeing':'water activity','clamming':'work activity','dangling feet in the water':'water activity',
                        'paddleskiing':'water activity','sculling':'water activity','snorkeling':'underwater activity','wading':'fishing','watercraft':'water activity','walking':'water activity','air disaster':'accident',
                        'knocked overboard':'accident','sea disaster':'accident','rowing':'water activity','seine netting':'fishing','tagging sharks':'work activity','sup':'water activity'            
}

def cleaning_activity(activity,my_dict):
    for key, value in my_dict.items():
        if key in activity:
            return value
    return activity 

shark['activity']= shark['activity'].str.lower().str.strip().apply(cleaning_activity,my_dict=activity_cleaning_dict)

#filtering by activity>2 - there is something I'm missing

activity_counts = shark['activity'].value_counts()  # Calculate the counts of each activity

# Filter 'shark' DataFrame based on the counts of each activity being greater than 3 to simplify activity normalization
shark = shark[shark['activity'].isin(activity_counts[activity_counts > 3].index)]

In [14]:
shark.activity.value_counts()

activity
water activity         3236
fishing                1288
underwater activity     580
work activity           221
accident                 70
Name: count, dtype: int64